 server {
        # List of domain patterns for this website
        server_name {{ server_hostname }} www.{{ server_hostname }}

        # Main listening port
        listen [::]:443 ssl;
        listen   443 ssl;

        access_log  /var/log/nginx/{{ server_hostname }}_access.log;
        error_log   /var/log/nginx/{{ server_hostname }}_error.log;

        root  /var/www/{{ server_hostname }}/public;

        location / {
            index index.html;
            try_files $uri $uri.html =404;
        }

        # far-future aggressive caching for asset files
        # - this is optional - tune it to suit your content change rate
        # - assumes that once an asset exists, it is stable
        location ~* \.(gif|jpg|png|css|js|ico|au|mp3|ttf)$ {
            expires  30d;

            # you might prefer much shorter caching, e.g
            # expires  5m;

            # or the maximum possible
            # expires  max;
        }

        error_page  404  /404.html;
        charset utf-8;
    }
