server {
listen 443 ssl;
server_name {{ server_hostname }};
root /var/www/bludit;
index index.php;

access_log /var/log/nginx/acces_{{ server_hostname }}.log;
error_log /var/log/nginx/error_{{ server_hostname }}.log;

ssl_certificate /etc/letsencrypt/live/{{ server_hostname }}/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/{{ server_hostname }}/privkey.pem;

ssl_session_cache       shared:SSL:50m;
ssl_session_timeout     10m;

ssl_prefer_server_ciphers   on;
ssl_stapling            on;
ssl_stapling_verify     on;
# SSL Parameters

ssl_protocols  TLSv1.2 TLSv1.3;
ssl_ciphers 'TLS-CHACHA20-POLY1305-SHA256 TLS-AES-256-GCM-SHA384 TLS-AES-128-GCM-SHA256 ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA';


add_header Strict-Transport-Security "max-age=31557600; includeSubDomains";

location ~ \.(jpg|jpeg|gif|png|css|js|ico|svg|eot|ttf|woff|woff2|otf)$ {
access_log        off;
expires           30d;
}

location ~ \.php$ {
fastcgi_pass    unix:/run/php/php7.4-fpm.sock;
fastcgi_index   index.php;
include         fastcgi.conf;
fastcgi_param   HTTPS on;
}

location / {
try_files $uri $uri/ /index.php?$args;
}

location ^~ /bl-content/databases/ { deny all; }
location ^~ /bl-content/workspaces/ { deny all; }
location ^~ /bl-content/pages/ { deny all; }
location ^~ /bl-kernel/*.php { deny all; }
}

# Redirect from HTTP to HTTPS
server {
listen 80;
server_name {{ server_hostname }};
return 301 https://{{ server_hostname }}$request_uri;
}



