[options]
addons_path = /opt/flectra/server/addons
admin_passwd = {{ flectra_admin_password }}

db_host = False
db_port = False
db_user = {{ flectra_db_user }}
db_password = {{ flectra_db_password }}
db_maxconn = 64
db_sslmode = prefer
proxy_mode = True

logfile = /var/log/flectra/flectra-server.log
logrotate = True
