upstream hugoserver {
server 127.0.0.1:1313;
}

server {
     listen [::]:80;
     listen 80;

     server_name {{ server_hostname }} www.{{ server_hostname }};

     return 301 https://{{ server_hostname }}$request_uri;
}

server {

     listen [::]:443 ssl;
     listen 443 ssl;

     server_name www.{{ server_hostname }};

     ssl_certificate /etc/letsencrypt/live/{{ server_hostname }}/fullchain.pem;
     ssl_certificate_key /etc/letsencrypt/live/{{ server_hostname }}/privkey.pem;
     ssl_protocols  TLSv1.2 TLSv1.3;
     ssl_ciphers 'TLS-CHACHA20-POLY1305-SHA256 TLS-AES-256-GCM-SHA384 TLS-AES-128-GCM-SHA256 ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA';
 ssl_prefer_server_ciphers on;

     return 301 https://{{ server_hostname }}$request_uri;
 }
server {
        # List of domain patterns for this website
        server_name {{ server_hostname }} www.{{ server_hostname }}

        # Main listening port
        listen [::]:443 ssl;
        listen      443 ssl;
        ssl_protocols  TLSv1.2 TLSv1.3;

        # Lets Encrypt Certificates
        ssl_certificate /etc/letsencrypt/live/{{ server_hostname }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ server_hostname }}/privkey.pem;

        access_log  /var/log/nginx/{{ server_hostname }}_access.log;
        error_log   /var/log/nginx/{{ server_hostname }}_error.log;


        proxy_read_timeout 720s;
        proxy_connect_timeout 720s;
        proxy_send_timeout 720s;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;

        location / {
           proxy_redirect off;
           proxy_pass http://hugoserver;
        }


        # far-future aggressive caching for asset files
        # - this is optional - tune it to suit your content change rate
        # - assumes that once an asset exists, it is stable
        # location ~* \.(gif|jpg|png|css|js|ico|au|mp3|ttf)$ {
        #     expires  30d;

        #     # you might prefer much shorter caching, e.g
        #     # expires  5m;

        #     # or the maximum possible
        #     # expires  max;
        #}

        error_page  404  /404.html;
        charset utf-8;
    }
